 .nav-ul  li{

  display : inline-block;
   padding: 10px;
 }
 .nav-ul li a{
color: #fff;
padding: 5px;
text-decoration: none;

 }
 .nav-ul  {
  background-color: skyblue;
 margin: 0;
   padding: 5px;
  }

  .footer{
    position:absolute;
     text-align: center;
    width: 100%;
    background-color: skyblue;
    margin-bottom: 0px;
    bottom: 0%;
  }
  .inputBox{
 display: block;
margin: 25px;
padding: 10px;
width: 300px;
border: 1px solid skyblue;

  }
 .login{
  margin-left: 30%;
  margin-top: 300px;
 }
 .nav-right{
  text-align: right;
 }
 .product-list{
  text-align: center;
  margin-top: 50px;
 }
 .product-list ul li{
  display: inline-block;
  padding: 5px;
  border: 1 px solid skyblue;
  width: 150px;
 }

  .register, .product{
    margin-left: 30%;
  }
  .signup-btn, .addproduct{
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: skyblue;
    border: 1px solid skyblue;
    cursor: pointer;
  }
  .invalid-inp{
    color: red;
    margin-top: -20px;
    margin-left: 20px;
    display: block;
  }
  
  
.search-box{
  width: 400px;
  height: 40px;
  margin: 30px;
  border: 1px solid skyblue;
}